<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bishe.logistics_management.database.dao.CarDao" >

    <insert id="insertCar" parameterType="com.bishe.logistics_management.database.dataObject.CarObject">
        insert into car(driver,phone,type,brand,times,length,size,capacity,tags,number) values(
                       #{driver},#{phone},#{type},#{brand},#{times},#{length},#{size},#{capacity},#{tags},#{number}
                                                                                          )
    </insert>

    <update id="replaceCar" parameterType="com.bishe.logistics_management.database.dataObject.CarObject">
            update car set driver=#{driver},phone=#{phone},tags=#{tags},number=#{number} where id=#{id}
    </update>

    <select id="getAllCars" resultType="com.bishe.logistics_management.database.dataObject.CarObject">
        select * from car;
    </select>

    <select id="getById" parameterType="int" resultType="com.bishe.logistics_management.database.dataObject.CarObject">
        select * from car where id = #{arg0}
    </select>

    <!--获取符合要求的车辆，要求其能够在当前位置而且在港，要求其没有被安排任务或者安排了任务并且离港日期要晚于要求日期并且还有空余，给他凑一车 -->
    <select id="getEmptyCar" resultType="com.bishe.logistics_management.database.dataObject.CarObject" parameterType="String">
        select * from
                      (select * from car where current=#{arg0} and state=0) as a
        where (awaydate = '0000-00-00' ) or (#{arg1}>=awaydate)
    </select>

    <update id="subSize" parameterType="int">
        update car set size=#{arg1} where id = #{arg0}
    </update>

    <update id="updateAway" parameterType="com.bishe.logistics_management.database.dataObject.CarObject">
        update car set awaydate = #{awaydate} where id = #{id}
    </update>

</mapper>