<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bishe.logistics_management.database.dao.LogRecordDao" >

    <select id="getLastTime" parameterType="int" resultType="String">
        select time from logrecord where id=#{arg0}
    </select>

    <insert id="updateTime" parameterType="int">
        replace into logrecord values(#{argo},now())
    </insert>
</mapper>