<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bishe.logistics_management.database.dao.ManagementDao" >

    <insert id="insertManagement" parameterType="com.bishe.logistics_management.database.dataObject.ManagementObject">
        insert into management(orderid,carid,planuser,manageuser,complete) values(#{orderid},#{carid},#{planuser},#{manageuser},0)
    </insert>

    <select id="getByOrderId" parameterType="int" resultType="com.bishe.logistics_management.database.dataObject.ManagementObject">
        select * from management where orderid = #{arg0}
    </select>

    <update id="completeOrder" parameterType="int">
        update management set complete=1,endtime=now() where orderid = #{arg0}
    </update>

    <select id="getRunningCar" parameterType="int" resultType="com.bishe.logistics_management.database.dataObject.ManagementObject">
        select * from management where carid = #{arg0} and complete=0
    </select>

    <select id="getUncomplete" resultType="com.bishe.logistics_management.database.dataObject.ManagementObject">
        select * from management where complete=0
    </select>

</mapper>