<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bishe.logistics_management.database.dao.ManagementDao" >

    <insert id="insertManagement" parameterType="com.bishe.logistics_management.database.dataObject.ManagementObject">
        insert into management(orderid,carid,planuser,manageuser,away) values(#{orderid},#{carid},#{planuser},#{manageuser},#{away})
    </insert>

    <select id="getByOrderId" parameterType="int" resultType="com.bishe.logistics_management.database.dataObject.ManagementObject">
        select * from management where orderid = #{arg0}
    </select>

</mapper>