<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bishe.logistics_management.database.dao.OrderDao" >

    <insert id="insertOrder" parameterType="com.bishe.logistics_management.database.dataObject.OrderObject">
        insert into orders(state,company,startpos,endpos,type,opendate,enddate,weight,volume,method,price,tags,checked,planuser,fromware,toware,otherfee)
          values (#{state},#{company},#{startPos},#{endPos},#{type},now(),#{endDate},#{weight},#{volume},
                  #{method},#{price},#{tags},#{checked},#{planuser},#{fromware},#{toware},#{otherfee})
    </insert>

    <select id="getOrderById" parameterType="int" resultType="com.bishe.logistics_management.database.dataObject.OrderObject">
        select * from orders where id = #{arg0}
    </select>

    <select id="getAllOrder" resultType="com.bishe.logistics_management.database.dataObject.OrderObject">
        select * from orders
    </select>

    <select id="getByCompany" parameterType="String" resultType="com.bishe.logistics_management.database.dataObject.OrderObject">
        select * from orders where company  = #{arg0}
    </select>

    <select id="getNoCheck" resultType="com.bishe.logistics_management.database.dataObject.OrderObject">
        select * from orders where state = 0
    </select>

    <select id="getBeforeDate" parameterType="String" resultType="com.bishe.logistics_management.database.dataObject.OrderObject">
        select * from orders where #{arg0} > now()
    </select>

    <select id="getCompleted" resultType="com.bishe.logistics_management.database.dataObject.OrderObject">
        select * from orders where state = 1
    </select>

    <update id="approveId" parameterType="int">
        update orders set checked=1 where id = #{arg0}
    </update>

    <select id="getNeedManage" resultType="com.bishe.logistics_management.database.dataObject.OrderObject">
        select * from orders where checked=1 and state=0
    </select>

    <update id="manageId" parameterType="int">
        update orders set state=1 where id = #{arg0}
    </update>

    <select id="getAllOnRoad" resultType="com.bishe.logistics_management.database.dataObject.OrderObject">
        select * from orders where state=1 and checked=1
    </select>

    <select id="getToWarehouse" resultType="com.bishe.logistics_management.database.dataObject.OrderObject">
        select * from orders where checked=1 and state=1 and toware=1
    </select>

    <select id="getToOther" resultType="com.bishe.logistics_management.database.dataObject.OrderObject">
        select * from orders where checked=1 and state=1 and toware=0
    </select>

    <update id="completeOrder" parameterType="int">
        update orders set state=2 where id=#{arg0}
    </update>

    <select id="getNeedPay" resultType="com.bishe.logistics_management.database.dataObject.OrderObject">
        select * from orders where state = 2 and checked=1
    </select>

    <update id="payOrder" parameterType="int">
        update orders set state=3 where id=#{arg0}
    </update>
</mapper>